node_modules/
# .env # Environment variables file is not ignored for the sake of this assessment
backend/node_modules/
frontend-app/node_modules/
backend/dev.db
# backend/.env  # Removed from gitignore for assessment
frontend-app/.env
build/
dist/
